/*Фон*/

}
html{
  box-sizing: border-box;
}

*,*::before,*::after{
  box-sizing:inherit;

background: rgba(32, 32, 32, 1);
}

.header_logo{
align-content: center;
}

.header{

}

.table{
width: 1300px;
height: 80px;
background: #404040;
border: 1px solid #8DC641;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
margin:auto;
}




.privat{
position: absolute;
width: 189px;
height: 31px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
color: #8DC641;
}


.wrapper{
max-width: 1300px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
align-items: flex-end;
}
